<!doctype html>
<html lang="ch-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"  type="text/css">
      <link rel="stylesheet" th:href="@{css/manage.css}" type="text/css">
      <link rel="icon" th:href="@{/images/brand-ico.ico}" type="image/x-icon" >
    <title>语问卷 · 回收站</title>
  </head>
  <body style="background-color:#e9ecef;">
    <div class="nav-bg">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand erase-padding " href="javascript:history.go(-1)">
              <img class="brand-icon" th:src="@{images/back.png}">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link erase-padding" th:href="@{/user/}+${uid}"><img class="brand-icon" th:src="@{images/user.png}"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link erase-padding" href="#">
                    <img class="brand-icon" th:src="@{images/msg.png}"><span class="badge  msg-num">0</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link erase-padding" th:href="@{/logout}"><img class="brand-icon" th:src="@{images/exit.png}"></a>
                </li>
              </ul>
             
            </div>
            
          </nav>
        </div>
      </div>


      <div class="container bg-white mt-md-5" style="border-radius: 5px;">
            <div class="row pt-2">
                    <div class="col-md-2 ml-auto ">
                        <a class="btn btn-outline-secondary ml-auto" id="erase-all" href="javascript:void(0);" role="button">清空数据</a>
                    </div>
            </div>
          <div class="row justify-content-center  "  >
              <div class="col-md-12">

                <table class="table mt-md-2 text-center">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">问卷名</th>
                        <th scope="col">删除时间</th>
                        <th scope="col">恢复</th>
                        <th scope="col">删除</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="q : ${questionnaires}" th:id="*{q.getQuestionnaireid()}">
                        <td th:text="${q.getTitle()}"></td>
                        <td th:text="${#dates.format(new Long(q.getStatusChangeTime()), 'yyyy年MM月dd日')}"></td>
                        <td><button type="button" class="btn btn-outline-secondary recover" >恢复</button></td>
                        <td><button  type="button"  class="btn btn-outline-secondary erase">删除</button></td>
                      </tr>
                      <tr class="text-center">
                          <td class="text-danger" colspan="4">回收站只保留60天，60天后自动删除</td>
                      </tr>
                    </tbody>
                  </table>

                  
              </div>
          </div>
      </div>


    <script th:src="@{js/jquery-3.3.1.min.js}" ></script>
    <script th:src="@{js/popper.min.js}" ></script>
    <script th:src="@{js/bootstrap.min.js}" ></script>
    <script>
    $('tbody').on('click', '.recover', function (e) {
        var tr = $(e.target).parents('tr');
        var id = tr.attr('id');
        http('recover', {_method: "put","ev":"recover", "qid":id}, "post");
    });

    $('tbody').on('click', '.erase', function (e) {
        var tr = $(e.target).parents('tr');
        var id = tr.attr('id');
        http('erase', { _method: "delete","qs": [id] }, "post");
    });


    $('#erase-all').on('click', function () {
        var trs = $('tbody').find('tr');
        var ids = [];
        for (var i = 0; i < trs.length - 1; i++) {
            ids[i] = trs[i].id;
        }
        http('erase', { _method: "delete","qs": ids}, "post");
    });


    function http( url ,data, method) {
        $.ajax({
            type: method,
            url: url,
            data:  data,
            success: function(e){
                location.href = e;
            },
            error: function () {
                alert("操作失败！！");
            }
        });

    }
    </script>

  </body>
</html>